body {
    margin:0;
    font-family: $main_font;
    background-color: $main_color;
    color: white;
    ::selection {
        background: $accent_color;
        color: white;
    }
}

div.wrap {
    max-width: 1440px;
    padding: 0 100px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 600%;
    color: #636b6f;
}
a {
    text-decoration: none;
}

div.line {
    background-color: $accent_color;
    width: 100%;
    height: 1px;
}

div.currencies_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 100%;
    margin: 60px 0;

    div.currency_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: $secondary_color;
        color : white;
        font-size: 110%;
        border-radius: 1%;
        transition-duration: 0.2s;
        padding: 30px ;
        &:hover {
            transform: scale(1.05);
            transition-duration: 0.4s;
        }
        //
        p.currency_name {
            font-weight: $bold;
            margin: 15% 0;
        }
        //
        img {
            height: 60px;
        }
        span.red {
            color: $pastel_red;
        }
        span.green {
            color: $pastel_green;
        }
    }
}


div.more_button {
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary_color;
    color: $accent_color;
    margin: 100px auto;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    &.loading {
        pointer-events: none;
        p.loading {
            display: block;
        }
        p.more {
            display: none;
        }
    }
    p.loading {
        display: none;
    }

    p.more{
        display: block;
    }
}

div.arrow_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1vw;
    bottom: 1vh;
    width: 50px;
    height: 75px;
    flex-direction: column;
    cursor:pointer;
    user-select: none;
}

span.green {
    color: $pastel_green;
}
span.red {
    color: $pastel_red;
}


@media all and (max-width: 700px) {
    h1 {
        font-size: 300%;
    }

    div.wrap {

        padding: 0 50px;

    }
}

@media all and (max-width: 540px) {
    div.wrap {
        padding: 0 20px;
    }
}
