//--------------colors-------------//

$main_color:  #0e111a;
$secondary_color: #25272f;
$accent_color: #9bff29;
$pastel_green: #4ec44e;
$pastel_red: #ff716a;

//--------------fonts-------------//

$main_font : 'Spartan', sans-serif;
$bold : 700;
